:host {
  > svg {
    display: none;
  }
}

svg.icon {
  display: block;
  width: 20px;
  height: 20px;
}

.nx-exp-view-name-area,
.nx-exp-view-details-area {
  padding: 16px;
  border-bottom: 1px solid var(--s2-gray-200);
}

.nx-exp-view-name-card {
  margin: 0 0 16px;
  border: 1px solid var(--s2-gray-200);
  border-radius: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 24px;
}

.nx-exp-abb {
  width: 88px;
  min-height: 100px;
  padding-bottom: 8px;
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: var(--s2-heading-m-size);
  font-weight: 700;
  box-sizing: border-box;

  &.nx-exp-abb-draft {
    color: #fff;
    background: linear-gradient(-45deg, rgb(89 137 255) 0%, rgb(21 50 173) 100%);
  }

  &.nx-exp-abb-active {
    color: #fff;
    background: linear-gradient(-45deg, var(--s2-green-700) 0%, var(--s2-green-1100) 100%);
  }
}

.nx-exp-name {
  font-size: var(--s2-body-m-size);
  margin-bottom: 6px;
}

.nx-exp-status {
  position: relative;
  text-transform: capitalize;
  padding: 0 0 0 18px;

  &::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
  }

  &.nx-exp-status-draft::before {
    background: var(--s2-blue-900);
  }

  &.nx-exp-status-active::before {
    background: var(--s2-green-900);
  }
}

.nx-exp-name-actions {
  display: flex;
  justify-content: end;
  gap: 12px;

  .nx-action-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    gap: 6px;
    padding: 6px 12px 6px 10px;
    background: var(--s2-gray-100);
    border: 2px var(--s2-gray-100);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;

    &:disabled {
      cursor: not-allowed;
      background: var(--s2-gray-400);
      border-color: var(--s2-gray-400);
    }

    &:hover {
      background: var(--s2-gray-200);
    }
  }
}

.nx-exp-detail-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  .nx-exp-detail-label {
    font-size: 14px;
    color: var(--s2-gray-700);
  }

  .nx-exp-detail-content {
    font-size: 16px;
  }
}

.nx-action-area {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(222 222 222);
  padding: 16px;
  -webkit-backdrop-filter: blur(8px); /* stylelint-disable-line property-no-vendor-prefix */
  backdrop-filter: blur(8px);
  z-index: 100;

  .nx-actions {
    display: flex;
    gap: 16px;
  }

  .nx-status {
    font-weight: 700;
    font-size: var(--s2-body-xxs-size);
    line-height: 1;

    &.nx-status-type-error {
      color: var(--s2-red-900);
    }
  }
}
