:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-800) auto var(--spacing-800) auto;

  > svg {
    display: none;
  }
}

input,
button {
  font-family: var(--font-family);
}

hr {
  margin-bottom: var(--spacing-400);
}

h1 {
  font-size: var(--type-heading-xxl-size);
  line-height: var(--spectrum-line-height-100);
  margin: 0 0 var(--spacing-400);
}

h2 {
  margin: 0 0 var(--spacing-100);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: var(--sl-field-border);
  border-radius: var(--s2-radius-100);
  overflow: hidden;
}

li {
  position: relative;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: rgb(229 229 229);
  }

  &::before {
    top: -1px;
  }

  &::after {
    bottom: -1px;
  }
}

.nx-site-path {
  display: grid;
  gap: var(--spacing-400);
  grid-template-columns: 1fr auto;
  margin-bottom: var(--spacing-400);
}

.nx-user-list {
  margin-bottom: 48px;
}

.nx-user-list-labels {
  display: grid;
  grid-template-columns: 340px 300px 280px 1fr; /* This must match user.css */
  gap: 16px;
  font-weight: 700;
  padding: 0 18px 8px;
}

.nx-user-label-approve {
  text-align: center;
}

.nx-permission-note {
  border-radius: 8px;
  background-color: var(--s2-blue-200);
  color: var(--s2-blue-1000);
  padding: var(--spacing-300) var(--spacing-400);
  margin-top: var(--spacing-300);
  margin-bottom: var(--spacing-400);
  border: 2px solid;

  a {
    color: var(--s2-blue-1000);
  }
}

.nx-status {
  position: fixed;
  inset: 0;
  background: rgb(255 255 255 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.nx-status-toast {
  width: 280px;
  background: var(--s2-blue-900);
  line-height: 48px;
  border-radius: 6px;
  filter: drop-shadow(rgb(0 0 0 / 15%) 0 1px 4px);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.nx-status-title {
  font-weight: 700;
  padding: 12px 12px 12px 40px;
  margin: 0;
}

.nx-status-description {
  line-height: 1.6;
  padding: 12px;
  margin: 0;
  background: rgb(255 255 255 / 10%);
}

.nx-status-type-info .nx-status-title {
  background: var(--s2-blue-900) url("/blocks/browse/img/Smock_InfoOutline_18_N.svg") 12px 50% no-repeat;
}

.nx-security-note {
  color: var(--s2-orange-900);
  background-color: var(--s2-orange-200);
  border: 2px solid var(--s2-orange-400);
  border-radius: 8px;
  padding: 6px 12px;
  margin-top: 12px;

  span {
    font-weight: 700;
  }
}
