:host {
  > svg {
    display: none;
  }
}

svg.icon {
  display: block;
  width: 20px;
  height: 20px;
}

.nx-dialog {
  min-width: 240px;
  padding: 22px 24px 24px;

  .nx-dialog-header-area {
    display: flex;
    justify-content: space-between;

    p {
      line-height: 1;
      padding: 0 0 20px;
    }

    .nx-dialog-close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -6px;
      right: -6px;
      width: 32px;
      height: 32px;
      border: none;
      padding: 0;
      background: transparent;
      border-radius: 4px;

      &:hover {
        background-color: var(--s2-gray-200);
      }
    }
  }

  hr {
    margin: 0 0 20px;
  }

  .nx-dialog-content-area {
    padding: 0 0 24px;
  }

  .nx-dialog-action-group {
    display: flex;
    justify-content: end;
    gap: 12px;
  }
}
