:host {
  --header-height: 57px;
  --action-height: 65px;

  min-height: 650px;
  background: #fff;
  padding-bottom: var(--action-height);
  padding-top: var(--header-height);
  box-sizing: border-box;
}

svg {
  display: none;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}

div.nx-exp-main {
  overflow: scroll;
  padding-bottom: 65px;
}

button {
  font-family: var(--font-family);
}

button:not(:disabled) {
  cursor: pointer;
}

.nx-exp-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(255 255 255 / 95%);
  display: grid;
  grid-template-columns: 46px 1fr auto;
  align-items: center;
  border-bottom: 1px solid #dedede;
  height: var(--header-height);
  box-sizing: border-box;
  z-index: 1;

  .drag-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 56px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

h1 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

nx-profile {
  margin-right: 12px;
}

h1:has(+ [data-loaded]) {
  display: unset;
}
