:host {
  --header-height: 57px;

  background: #fff;
  height: 650px; /* This needs to be set on body in JS */
  display: grid;
  grid-template-rows: 57px auto;
  padding-bottom: 65px;
}

svg {
  display: none;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
}

div.nx-exp-main {
  overflow: scroll;
  padding-bottom: 65px;
}

button {
  font-family: var(--font-family);
}

button:not(:disabled) {
  cursor: pointer;
}

.nx-exp-header {
  position: fixed;
  width: 100vw;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 46px;
  border-bottom: 1px solid #dedede;
  height: var(--header-height);
  box-sizing: border-box;
}

.nx-dialog {
  --dialog-font-size: 16px;

  display: flex;
  flex-direction: column;

  h1 {
    font-size: var(--s2-heading-size-300);
    margin-bottom: var(--spacing-300);
  }

  p {
    font-size: var(--dialog-font-size);
    margin: 0;
  }

  .nx-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-200);
    margin-top: var(--spacing-500);
  }
}

h1 {
  display: none;
  font-size: 16px;
  line-height: 1;
  margin: 0;
}

nx-profile {
  margin-right: 12px;
}

h1:has(+ [data-loaded]) {
  display: unset;
}

.nx-content {
  margin-top: var(--header-height);
}
